/* reset browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header./Start */
.header {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.colums {
  width: calc(100% / 4);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 25px;
}
/* C1: Header ra giua */
/* .wrap-header {
      height: 96px;
      background-color: red;
      display: flex;
      justify-content: center;
      margin: 0 40px;
  } */

/* C2: Header ra giua */
.wrap-header {
  width: calc(100% - (40px + 40px));
  /* background-color: red; */
  margin: auto;
  display: flex;
}

.header .header-left {
  width: 50%;
  height: 96px;
  display: flex;
}

.logo {
  height: 96px;
  /* background-color: paleturquoise; */
  display: flex;
  align-items: center;
}

.menu {
  height: 96px;
}

.logo img {
  width: 92px;
  height: 64px;
  object-fit: cover;
}
.menu ul {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 96px;
}
.menu ul li {
  /* display: inline-block; */
  list-style: none; /*Bo dau cham trong the khong co thu tu*/
  margin-right: 30px;
}
.menu ul li a {
  font-size: 16px;
  color: #032d60;
  text-decoration: none; /*Bo dau gach chan*/
}

.header .header-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-us {
  /* background-color: red; */
  height: 96px;
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.contact-us .wrap-contact {
  text-align: center;
}

.contact-us .wrap-contact a {
  margin-bottom: 5px;
  display: block;
  color: #032d60;
  font-size: 16px;
}

.contact-us .wrap-contact p {
  font-size: 14px;
  color: #032d60;
}

/* .social-icon {
    width: 200px;
    background-color: blue;
    height: 96px;
  } */
.social-icon ul {
  display: flex;
  height: 96px;
  align-items: center;
}
.social-icon ul li {
  list-style: none; /*Bo dau cham mac dinh ul li*/
  margin-right: 24px;
}
.social-icon ul li i {
  font-size: 14px;
}
.social-icon ul li .search {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /*Tao 1 cai bo goc cho phan tu*/
}

.social-icon ul li .search:hover {
  /*Di chuot va doi mau search*/
  background-color: #eaf5fe;
  color: #0076d2;
  cursor: pointer;
}

.social-icon ul li .my-web {
  width: 35px;
  height: 35px;
  /* background-color: red; */
  border-radius: 50%;
  display: flex;
  align-items: center; /* Doc */
  justify-content: center; /* Ngang*/
}
.social-icon ul li .my-web:hover {
  background-color: #eaf5fe;
  color: #0076d2;
  cursor: pointer;
}
.social-icon ul li .wrap-login {
  width: 80px;
  height: 30px;
  /* background: red; */
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover: tao hieu ung cua phan tu duoc chi dinh */
.social-icon ul li .wrap-login:hover {
  background-color: #eaf5fe;
  color: #0076d2;
  cursor: pointer;
}
.social-icon ul li .wrap-login i {
  margin-right: 5px;
}
.register {
  /* background-color: green; */
  display: flex;
  justify-content: flex-end;
}
.register button {
  background-color: #2e844a;
  border: 1px solid #2e844a;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700; /* Lam dam chu */
}
.register button:hover {
  background-color: #1c3226;
}
/* Section-Demain./Start */
.watch-demand {
  background-color: #042d60;
  /* height: 48px; */
  width: 100%;
}

.watch-demand ul {
  display: flex;
  justify-content: center;
}
.watch-demand ul li {
  list-style: none;
}
.demand-img {
  height: 48px;
  display: flex;
  align-items: center;
}
.demand-img img {
  width: 68px;
  object-fit: cover;
  margin-right: 15px;
}
.demand-text {
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  margin-right: 15px;
}
.demand-link {
  height: 48px;
  display: flex;
  align-items: center;
}
.demand-link a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.demand-link a:hover {
  text-decoration: none;
}

/* banner */
/* .banner{
    width: 100%;
    height: 500px;
    background-color: red;
    position: relative;
  }
  .item{
    width: 150px;
    height: 150px;
    background-color: black;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Giup keo lai phan tu
  }
    */
.banner {
  position: relative;
}
.banner .banner-bg img {
  width: 100%;
  height: 508px;
}
.banner-right {
  width: 510px;
  height: 510px;
  /* background-color: red; */
  position: absolute;
  top: 60px;
  right: 130px;
}
.banner-right img {
  width: 100%;
  height: 510px;
  object-fit: cover;
}

/* banner-left */

.banner-left {
  width: 600px;
  height: 600px;

  position: absolute;
  top: 150px;
  left: 60px;
}

.banner-left h1 {
  color: #fff;
  font-size: 58px;
  color: #032d60;
}

.banner-left p {
  font-size: 23px;
  color: #181818;
  margin-top: 20px;
}

.button-left {
  width: 350px;

  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.bt1 {
  width: 165px;
  height: 48px;
  background-color: #0076d2;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
.bt1:hover {
  background-color: #032d60;
}
.bt2 {
  width: 165px;
  height: 48px;
  background-color: white;
  border: 2px solid #0076d2;
  border-radius: 5px;
  color: #0076d2;
  font-size: 16px;
}

.bt2:hover {
  background-color: #eaf5fe;
  color: #181818;
}
/*======service================================*/
.service{
  margin-top: 50px;
  position: relative;z-index: 1;
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgb(234, 245, 254) 100%);
  padding-bottom: 250px;
}
.container {
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;
}

.colums-100 {
  width: 100%;
}
.colums-25 {
  width: calc(100% / 4);
}


.service .title-service {
  font-size: 40px;
  letter-spacing: -0.008em; /**/
  line-height: 48px; /* Dan Dong giua cac text */
  text-align: center;
  color: #032d60;
  margin-top: 30px;
}

.box-image {
  width: 100%;
}
.small-business {
  border-radius: 16px;
  overflow: hidden; /*Thanh Phan trong qua tring bo goc thua se xoa di*/
  box-shadow: 0 2px 8px -2px hsla(0, 0%, 9%, 0.08),
    0 8px 12px -2px hsla(0, 0%, 9%, 0.16);
}
.box-image img {
  width: 100%;
  height: 163px;
  object-fit: cover;
}
.box-text {
  width: 100%;
  padding: 50px;
}
.box-text h3 {
  margin-bottom: 16px;
}
.box-text h3 a {
  color: #032d60;
  font-size: 20px;
  text-decoration: none;
}
.box-text p {
  color: #181818;
  font-size: 16px;
  letter-spacing: -0.0012em;
  line-height: 24px;
}
.box-link {
  width: 100%;
  padding: 32px;
}

.box-link a {
  font-size: 16px;
  font-weight: 700;
  color: #080707;
  margin-bottom: 10px;
}

.box-link a:hover {
  color: #0076d2;
}

.service .wrap-button {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.wrap-button button {
  padding: 12px 32px;
  background-color: #fff;
  border: 1px solid #0076d2;
  border-radius: 3px;
  color: #0076d2;
}

.wrap-button button:hover {
  color: #080707;
  border: 1px solid #111;
}

.bg-sevice {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.bg-sevice img{
  width: 100%;
  
}


